.text_portfolio {
  margin-top: 150px;
  color: #fff;
}

.card_wrap {
  margin-top: 35%;
}

.img3 {
  background-image: url('../img/img3.jpeg');
  position: relative;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
